<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,_initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/estilo.css">
<title></title>
</head>
<body>

<div class="container">
<header class="row">
<h1>Notícias de Games</h1>
</header>

<a href="/">Últimas Notícias</a>
<div><a href="noticias/01">Notícias de Entreterimento</a></div>
</div>


<aside>
<h3>'God of War: Ragnarök' ganha primeiro trailer; ASSISTA</h3>
<a href="https://g1.globo.com/pop-arte/games/noticia/2021/09/09/god-of-war-ragnarok-ganha-primeiro-trailer-assista.ghtml">Site sobre...</a>
</aside>

<br>

<aside>
<h3>'Star Wars: Knights of the Old Republic – Remake' é anunciado como exclusivo do PS5 no lançamento</h3>
<a href="https://g1.globo.com/pop-arte/games/noticia/2021/09/09/star-wars-knights-of-the-old-republic-remake-e-anunciado-como-exclusivo-do-ps5-no-lancamento.ghtml">Site sobre...</a>
</aside>

<br>

<aside>
<h3>Organizadores do Rock in Rio anunciam estúdio de animações e conteúdos audiovisuais</h3>
<a href="https://g1.globo.com/pop-arte/musica/rock-in-rio/2022/noticia/2021/08/28/organizadores-do-rock-in-rio-anunciam-a-criacao-do-rock-in-rio-studios.ghtml">Site sobre...</a>
</aside>

<br>

<aside>
<h3>Games 'play to earn': Novo modelo de jogos com blockchain e NFTs atrai usuários com chance de ganhar dinheiro</h3>
<a href="https://g1.globo.com/pop-arte/games/noticia/2021/09/11/games-play-to-earn-novo-modelo-de-jogos-com-blockchain-e-nfts-atrai-usuarios-com-chance-de-ganhar-dinheiro.ghtml">Site sobre...</a>
</aside>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
