<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,_initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/estilo.css">
<title></title>
</head>
<body>

<div class="container">
<header class="row">
<h1>Notícias de Entreterimento</h1>
</header>

<a href="/">Notícias de Games</a>
<div><a href="/noticias">Últimas noticias</a></div>
</div>


<aside>
<h3>'Shang-Chi e a lenda dos dez anéis' mantém liderança da bilheteria nacional pela 3ª semana</h3>
<a href="https://g1.globo.com/pop-arte/cinema/noticia/2021/09/20/shang-chi-e-a-lenda-dos-dez-aneis-mantem-lideranca-da-bilheteria-nacional-pela-3a-semana.ghtml">Site sobre...</a>
</aside>

<br>

<aside>
<h3>Casa na árvore do Ursinho Pooh é recriada por ilustrador do desenho e pode ser alugada por um final de semana</h3>
<a href="https://g1.globo.com/olha-que-legal/noticia/2021/09/20/casa-na-arvore-do-ursinho-pooh-e-recriada-por-ilustrador-do-desenho-e-pode-ser-alugada-por-um-final-de-semana.ghtml">Site sobre...</a>
</aside>

<br>

<aside>
<h3>Marília Mendonça e Maiara & Maraisa se juntam novamente para lançar o disco 'Patroas 35%'</h3>
<a href="https://g1.globo.com/pop-arte/musica/blog/mauro-ferreira/post/2021/09/20/marilia-mendonca-e-maiara-and-maraisa-se-juntam-novamente-para-lancar-o-disco-patroas-35percent.ghtml">Site sobre...</a>
</aside>

<br>

<aside>
<h3>Jake Gyllenhaal diz que estava brincando quando questionou necessidade de tomar banho</h3>
<a href="https://g1.globo.com/pop-arte/noticia/2021/09/20/jake-gyllenhaal-diz-que-estava-brincando-quando-questionou-necessidade-de-tomar-banho.ghtml">Site sobre...</a>
</aside>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
