<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,_initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/estilo.css">
<title></title>
</head>
<body>

<div class="container">
<header class="row">
<h1>Últimas Notícias</h1>
</header>

<a href="/">Notícias de Games</a>
<div><a href="noticias/01">Notécias de Entreterimento</a></div>
</div>

<div class="row">
<aside>
<h3>Risco de tsunami após vulcão das Ilhas Canárias entrar em erupção é remoto na costa brasileira; entenda</h3>
<a href="https://g1.globo.com/meio-ambiente/noticia/2021/09/20/risco-de-tsunami-apos-vulcao-das-ilhas-canarias-entrar-em-erupcao-e-remoto-entenda.ghtml">Site sobre...</a>
</aside>
</div>

<br>

<div class="row">
<aside>
<h3>VÍDEO: flagrante mostra homem promovendo 'turismo de caça', proibido no país</h3>
<a href="https://g1.globo.com/fantastico/noticia/2021/09/20/video-flagrante-mostra-empresario-de-goiania-promovendo-turismo-de-caca-proibido-no-pais.ghtml">Site sobre...</a>
</aside>
</div>

<br>

<div class="row">
<aside>
<h3>'Se você não quer se vacinar, nem precisa vir', diz prefeito de Nova York a Bolsonaro</h3>
<a href="https://g1.globo.com/mundo/noticia/2021/09/20/se-voce-nao-quer-se-vacinar-nem-precisa-vir-diz-prefeito-de-ny-a-bolsonaro.ghtml">Site sobre...</a>
</aside>
</div>

<br>

<div class="row">
<aside>
<h3>Tiroteio deixa feridos em escola do estado americano da Virgínia</h3>
<a href="https://g1.globo.com/mundo/noticia/2021/09/20/tiroteio-em-escola-nos-eua.ghtml">Site sobre...</a>
</aside>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>